html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(135deg,#e3005a,#931445);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gaius-container {
  background: #fff;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0px 20px 30px #732222;
  box-sizing: border-box;
  padding: 80px;
  text-align: center;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.gaius-title {
  font-size: 32px;  
  max-width: 500px;
  margin: 0;
  color: #000;
}
.gaius-title.de {
  display: none;
}
.de .gaius-title.en {
  display: none;
}
.de .gaius-title.de {
  display: block;
}

.gaius-logo {
  display: block;
  width: 150px;
}
.gaius-subtitle {
  color: rgba(0,0,0,0.5);
	line-height: 1.5;
}
.gaius-subtitle.de {
  display: none;
}
.de .gaius-subtitle.en {
  display: none;
}
.de .gaius-subtitle.de {
  display: block;
}

.gaius-subtitle a {
  text-decoration: none;
  color: #e3005a;
}
.floating-wpp-button {
  background-image: url("https://rawcdn.githack.com/rafaelbotazini/floating-whatsapp/3d18b26d5c7d430a1ab0b664f8ca6b69014aed68/whatsapp.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}

.site-content {
  position: relative !important;
}

.floating-wpp-button img {
  display: none;
}
.logo-box {
  display: none;
}
.floating-wpp{position:fixed;bottom:15px;left:15px;font-size:14px;transition:bottom .2s}.floating-wpp .floating-wpp-button{position:relative;border-radius:50%;box-shadow:1px 1px 4px rgba(60,60,60,.4);transition:box-shadow .2s;cursor:pointer;overflow:hidden}.floating-wpp .floating-wpp-button img,.floating-wpp .floating-wpp-button svg{position:absolute;width:100%;height:auto;object-fit:cover;top:50%;left:50%;transform:translate3d(-50%,-50%,0)}.floating-wpp:hover{bottom:17px}.floating-wpp:hover .floating-wpp-button{box-shadow:1px 2px 8px rgba(60,60,60,.4)}.floating-wpp .floating-wpp-popup{border-radius:6px;background-color:#E5DDD5;position:absolute;overflow:hidden;padding:0;box-shadow:1px 2px 8px rgba(60,60,60,.25);width:0;height:0;bottom:0;opacity:0;transition:bottom .1s ease-out,opacity .2s ease-out;transform-origin:bottom}.floating-wpp .floating-wpp-popup.active{padding:0 12px 12px;width:260px;height:auto;bottom:82px;opacity:1}.floating-wpp .floating-wpp-popup .floating-wpp-message{background-color:#fff;padding:8px;border-radius:0 5px 5px;box-shadow:1px 1px 1px rgba(0,0,0,.15);opacity:0;transition:opacity .2s}.floating-wpp .floating-wpp-popup.active .floating-wpp-message{opacity:1;transition-delay:.2s}.floating-wpp .floating-wpp-popup .floating-wpp-head{text-align:right;color:#fff;margin:0 -15px 10px;padding:6px 12px;display:flex;justify-content:space-between;cursor:pointer}.floating-wpp .floating-wpp-input-message{background-color:#fff;margin:10px -15px -15px;padding:0 15px;display:flex;align-items:center}.floating-wpp .floating-wpp-input-message textarea{border:1px solid #ccc;border-radius:4px;box-shadow:none;padding:8px;margin:10px 0;width:100%;max-width:100%;font-family:inherit;font-size:inherit;resize:none}.floating-wpp .floating-wpp-btn-send{margin-left:12px;font-size:0;cursor:pointer}

@media (max-width: 400px) {
	.gaius-container {
		width: 95%;
		margin: 0;
		padding: 40px 20px;
		justify-content: flex-start;
	}
	.gaius-title {
		font-size: 18px;
		margin: 60px 0;
	}
	.gaius-subtitle {
		font-size: 14px;
	}
}

.center.logotype,
.description > p, 
.btn-open-login-form,
footer {
	display: none;
}